{% load static %}
<!doctype html>
<html lang="{{ language_code }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <meta name="description" content="{{ description }}">

    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/app.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block extra_css %}
    <style>
        .text-justify{
            text-align: justify;
            text-justify: inter-word;
        }
    </style>
    {% endblock %}

</head>

<body>
    {% block content %}{% endblock %}

    <script src="{% static 'js/vendor/jquery-3.6.0.min.js' %}"></script>
    <!-- <script src="{% static 'js/app.min.js' %}"></script> -->
    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_js %}{% endblock %}

    
</body>

</html>
